/*
 * Colors
 * #e8f0f1 primary (light ivory)
 * #d7005c secondary (hotpink)
 * #042926 text (hunter)
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    height: 70px;
    background-color: #d7005c;
    align-items: center;
    margin: 0;
    padding: 8px 16px;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.container {
    background-color: #e8f0f1;
    flex: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 32px 255px;
}

.row {
   display: flex; 
   flex: auto;
}

.grid {
    margin: 0;
    padding: 0;
    flex: auto;
    border: 1px #d7005c solid;
}

.change-dimensions {
    margin-left: auto;
    padding: 4px 6px;
    font-size: 16px;
    color: #042926;
    border-radius: 6px;
}

.change-dimensions:hover {
    color: #d7005c;
    background-color: #e8f0f1;
    border: 0;
}

.color-change {
    background-color: #042926;
    opacity: 10%;
}
